#include "main.h"
#include "icon.rc"

MAINMENU MENU 
{
 POPUP "&Archivo"
 {
  MENUITEM "&Abrir", CM_FILE_OPEN
  MENUITEM "Guardar &Como", CM_FILE_SAVEAS
  MENUITEM SEPARATOR
  MENUITEM "S&alir", CM_FILE_EXIT
 }

 POPUP "&Editar"
 {
  MENUITEM "&Deshacer", CM_FILE_UNDO
  MENUITEM "&Rehacer", CM_FILE_REDO
  MENUITEM "&Cortar", CM_FILE_CUT
  MENUITEM "&Copiar", CM_FILE_COPY
  MENUITEM "&Pegar", CM_FILE_PASTE
  MENUITEM "&Selecionar &Todo", CM_FILE_SELECTALL
  MENUITEM "&Borrar &Todo", CM_FILE_DELETE_ALL
 
 }

POPUP "&Formato"
 {
  MENUITEM "&Fuente", CM_FILE_SELECTFONT  
 
 }
 
 
 

 POPUP "&Ayuda"
 {
  MENUITEM "&Acerca De", CM_ABOUT
    MENUITEM "&Revisar Actualizaciones", CM_FILE_TEST
 }
}

